* {
  margin: 0;
  padding: 0;
}

body {
  background: #1a1a1a;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.container {
  display: flex;
  width: 500px;
  height: 300px;
  background-color: rgb(10, 21, 44);
  padding: 6px;
  border-radius: 4px;
  border: 1px solid rgba(40, 168, 153, 70%);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  filter: drop-shadow(-3px 0px 15px rgba(0, 0, 0, 0.596));
}

#wrapper {
  margin-top: 12px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px 12px;
  gap: 4px;
}

ul {
  padding: 25px 25px;
  width: 30px;
  border: 0.5px solid rgba(40, 168, 153, 70%);
  background-color: rgba(15, 41, 88, 0.4);
  color: rgb(67, 199, 188);
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

li {
  list-style: none;
}

.success {
  background-color: rgb(7, 117, 13);
  border-radius: 4px;
  border: solid rgb(5, 61, 8);
}

.failed {
  background-color: rgb(117, 7, 7);
  border-radius: 4px;
  border: solid rgb(61, 5, 5);
}

.hide {
  display: none;
  opacity: 0;
}

#completo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#timeOut {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 22px;
  font-family: 'Source Code Pro', monospace;
}

#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 12px 26px;
  border: 0.5px solid rgba(40, 168, 153, 70%);
  background-color: rgba(15, 41, 88, 0.4);
  border-radius: 3px;
  color: white;
  font-weight: 400;
  font-size: 24px;
}

#start:hover {
  cursor: pointer;
}

#load {
  display: flex;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background: rgb(199, 80, 1);
}

.animationStart {
  animation: timeout 3s linear;
}

@keyframes timeout {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}